.productos {
    margin: 2.5rem 0;
    background-image: url(../../../build/img/mando-2.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    .buscador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 3rem;
            color: rgb(173, 172, 172);
        }
        .search-bar {
            input {
                border: none;
                font-weight: 700;
                height: 2.5rem;
                width: 25rem;
                border-radius: 0.75em 0 0 0.75em;
                outline: none;
                margin-right: 0;
            }
            button {
                border: 1px solid white;
                cursor: pointer;
                height: 2.5rem;
                width: 2.5rem;
                background: rgb(43, 129, 65);
                margin-left: -4px;
                border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
            }
        }
    }
    .boton-catalogo {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        button {
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 10px;
            height: 2.5rem;
            background: rgb(82, 82, 82);
        }
    }
}